OPENAI_API_KEY=
GROQ_API_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
BAML_LOG_LEVEL=
BAML_VERBOSE=
BAML_LOG=
ROBOT_TYPE=
# Only necessary if in dev; if it's deployed on GCP, set to nothing and it will work.
GOOGLE_APPLICATION_CREDENTIALS=
BIGQUERY_PROJECT_ID=
BIGQUERY_TOKEN_LOGS_DATASET_ID=